.parent{

    -fx-background-image: url("99815.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1024 600;
}
.home{
    -fx-background-color: white;
    -fx-position-shape: true;
}
.sidebar{
    -fx-background-color: #42E24f;

}
.txt-fields{
    -fx-background-color: transparent;
    -fx-border-color: #65dde9;
}
.vbox{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
}
.txt-color{
    -fx-text-fill: #999999;
}
.buttons{
    -fx-background-color: #42E24f;
    -fx-text-fill: #ffffff;
}
.buttons:hover{
    -fx-background-color: #42E24f ;
    -fx-text-fill: #ffffff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}
.buttons:pressed{
    -fx-background-color: #b0ffa7;
}
.butto1{
    -fx-background-color: #000000;
    -fx-text-fill: black;
    -fx-text-fill: #ffffff;
}
.butto:hover{
    -fx-background-color: #000000 ;
    -fx-text-fill: #ffffff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}
.chart{
    -fx-padding: 10px;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {

    -fx-stroke-width: 0.5px;
}
.chart-horizontal-grid-lines {

    -fx-stroke-width: 0.5px;
}
/*.chart-color0.chart-line-symbol { -fx-stroke: plum }*/
/*.chart-color1.chart-line-symbol { -fx-stroke: #65dde9}*/
/*.chart-color2.chart-line-symbol { -fx-background-color: #dda0dd }*/
/*lineChart1.chart-series-line{-fx-stroke: darksalmon}*/
/*lineChart2.chart-series-line{-fx-stroke : khaki}*/
/*lineChart3.chart-series-line{-fx-stroke: plum}*/

